<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style.css">
    <title>log in</title>
</head>
<body>
    <div class="container">
        <form action="/login" method="POST">
            <input type="text" id="usernameInput" name="username" placeholder="[username]" maxlength="20" required> 
            <input type="password" id="passwordInput" name="password" placeholder="[password]" required>
            <div>
                <input type="submit" value="[log in]">
                <input type="button" onclick='window.location.href ="/register"' value="[make account]">
            </div>
        </form>
    </div>    
</body>
</html>