* {
    font-family: 'Courier New', Courier, monospace;
    font-size: large;
    /* border-radius: 5px; */
    border: none;
    color: #FFFAFF;
}

.container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    /* position: relative; */
    display: flex;
    justify-content: center; /* Center horizontally */
    align-items: flex-start; /* Top-align vertically */
    /* height: 100vh; */
    /* background-color: transparent;
    border-color: #050401;
    border-style: solid;
    border-width: 1px; */

    background-color: #050401;
    width: 500px;
}

body {
    background-color: #303036;
}

form {
    display: flex;
    flex-direction: column;
    width: 500px;
    padding: 5px;
}

form * {
    padding: 5px;
    margin: 5px;
    /* background-color: transparent; */
}

form input[type="radio"], form label, form input[type="checkbox"]{
    /* width: 50%; */
    padding: 0;
    margin: 0;
    /* display: flex; */
    /* flex-direction: row; */
    vertical-align: middle;
}


input[type="text"], input[type="password"], input[type="number"]
{
    color: #050401;
    background-color: #FFFAFF;
}

form input[type="submit"], form input[type="button"], button, label{
    /* width: 50%; */
    padding: 0;
    margin: 0;
    /* display: flex; */
    /* flex-direction: row; */
    /* vertical-align: middle; */
    border: none;
    background-color: transparent;
    cursor: text;
}

input[type="submit"]{
    color: #30BCED;
}

.topright{
    position: fixed;
    top: 0;
    right: 0;
    margin: 5px;
    padding: 5px;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

#logoutButton{
    color: #FC5130;
}

/* .testNameButton{
    font-size: large;
    font-weight: bold;
} */

/* .pickRole {
    padding: 5px;
    margin: 0;
} */

div{padding: 0;}

#answers *{
    padding: 5px;
    margin: 0;
}

#qHeader {
    padding: 5px;
    margin: 0;
}

.listDiv{
    width: 60%;
}


.listAll li:not(:first-child):not(:last-child) {
    margin-left: 20px; /* Adjust the margin as needed */
}

.submissionsList li:not(:first-child){
    margin-left: 20px;
}
button{
    color: #30BCED;
}

.fillOutTest *{
    padding: 0;
    margin: 0;
}

.fillOutTest {
    margin: 0;
    padding: 0;
}

input[type="radio"] {
    display: none;
}
input[type="radio"]:checked + label {
    color: #EC9A29;
}

/* input[type="radio"]:checked + label::before {
    content: "[";
}

input[type="radio"]:checked + label::after {
    content: "]";
} */